spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/reservation
    username: test
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
